LIFI_API_KEY=
LIFI_WALLET_PRIVATE_KEY=
LIFI_WALLET_ADDRESS=
LIFI_DEFAULT_FROM_CHAIN=base
LIFI_DEFAULT_SLIPPAGE_BPS=50
LIFI_RPC_BASE=https://mainnet.base.org
LIFI_RPC_OPT=https://mainnet.optimism.io
LIFI_RPC_ARBITRUM=https://arb1.arbitrum.io/rpc
